<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChordiggerApp</title>
</head>
<body>
    <h1>ChordiggerApp</h1>
     <form action="/ChordsSearch" method="POST">
        <input type="radio" name="chords" value="0" checked>カノン（C - G - Am - Em - F - C - F - G）</input>
        <input type="radio" name="chords" value="1" >小室（Am - F - G - C）</input>
        <input type="radio" name="chords" value="2" >王道（F - G - Em - Am）</input>
        <button type="submit">送信</button>
    </form>
</body>
</html>
